<p id="notice"><%= notice %></p>

<p>
  <strong>Directory name:</strong>
  <%= @directory.directory_name %>
</p>

<p>
  <strong>Directory type:</strong>
  <%= @directory.directory_type %>
</p>


<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
