<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @directory_homework.class_name %>
</p>

<p>
  <strong>Directory class:</strong>
  <%= @directory_homework.directory_class %>
</p>

<%= link_to 'Edit', edit_directory_homework_path(@directory_homework) %> |
<%= link_to 'Back', directory_homeworks_path %>
