<%= form_for([@directory_homework, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br><br>
  <div class="form-group" style="padding: 10px">
        <label for="project_name" class="col-lg-3 control-label">
          <font color = "green">프로젝트 이름</font>
        </label>
        <div class="col-lg-7">
          <input style="border-width:3px; border-style:solid; border-color: skyblue; auto; padding:0px;" id="project_name" name="project[project_name]" type="text" class="form-control" placeholder="프로젝트 이름"/>
        </div>
      </div>
<br>

      <%= link_to '코드 첨부', new_directory_homework_upload_path(:d_id => @directory_homework.id) %>

  <div class="form-group">
    <div style = "padding:30px" class="col-lg-10">
          <textarea style="border-width:3px; border-style:solid; border-color: skyblue; auto; padding:10px;" rows = "30" cols = "15" id="description" name="project[description]" type="text_area" class="form-control" placeholder="프로젝트에 대한 설명을 작성 해 주세요." ></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-7 row-lg-2">
      <input class="btn btn-info btn-lg pull-right" name="commit" type="submit" value="업로드" style="font-size: 20px" margin-top = "20px" />
    </div>
  </div>

<div class="invisible">
  <%= f.number_field :parent_id, :value => @parent.id if params.has_key?(:id) %>
</div> 
<% end %>