<div id="page-wrap" >

<ol class="breadcrumb pull-right">
    <li class="active">
      <%= @directory_homework.class_name %>
    </li>
</ol>

<h2>Projects</h2>
  <table class="table table-condensed">
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.project_name, directory_homework_project_path(@directory_homework, project) %></td>
        <%if current_user.id == project.user_id %>
          <td>[<%= link_to 'Edit', edit_directory_homework_project_path(@directory_homework, project) %>
          / <%= link_to 'Destroy', directory_homework_project_path(@directory_homework, project), method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
        <%end%>
      </tr>
    <% end %>
  </table>



<br>

<%= link_to 'New Project', new_directory_homework_project_path %>

</div>