<div id="page-wrap" >

<ol class="breadcrumb pull-right">
    <li class="active">
      <%= @homework.class_name %>
    </li>
</ol>

<%= link_to @semester.semester_name, directory_semester_path(@semester) %> >
<%= link_to @class.class_name, directory_class_path(@semester) %> >


<h3><%= link_to @homework.class_name, directory_homework_projects_path(@homework)  %></h3>
  <table class="table table-condensed">
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.project_name, directory_homework_project_path(@homework, project) %></td>
        <td>
          Like:
          <%= project.likes.count %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @projects %>

<br>

<%= link_to 'New Project', new_directory_homework_project_path %>

</div>