<div id="page-wrap" >

<ol class="breadcrumb pull-right">
  <li>
    <%= link_to @semester.semester_name, directory_semester_path(@semester) %>
  </li>
  <li>
    <%= link_to @class.class_name, directory_class_path(@class) %>
  </li>
  <li class="active">
    <%= @homework.class_name %>
  </li>
</ol>

<h3>프로젝트 목록</h3>
  <table class="table table-condensed">
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.project_name, directory_homework_project_path(@homework, project) %></td>
        <td>
          Like:
          <%= project.likes.count %>

        </td>
        <td>
          <%= project.user_name %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @projects unless @projects.nil? %>

<br>

<%= link_to '프로젝트 등록', new_directory_homework_project_path, :class => "btn btn-primary" %>

</div>