<div id="page-wrap" >
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="pull-left">
    <%= link_to @semester.semester_name, directory_semester_path(@semester) %> >
    <%= link_to @class.class_name, directory_class_path(@semester) %> >
    <%= link_to @directory_homework.class_name, directory_homework_projects_path(@directory_homework)  %> >
    <%= link_to @parent.project_name, directory_homework_project_path(@parent.directory_homework_id, @parent) unless @parent.nil?%>
  </div>
</div>

<div class="row">
  <h3>
    <%= @creator.user_name%> /
    <strong><%= @project.project_name %></strong>
  </h3>
  <div class="pull-right">
    <tr><td>
      <div class="btn-group">
        <%= render 'likes/like' %> 
      </div>
    </td></tr>
  </div>
</div>
<p>
  <strong>Description:</strong>
  <div class="well">
  	<%= @project.description %>
	</div>
</p>

<%= render html: @content.html_safe %>

<h2>댓글</h2>
<%= render @project.comments %>

<h2>댓글 달기</h2>
<%= render "comments/form" %>


<!-- 라이크 누르면 화면 뒤로갈때 라이크 누르기전 되는 이유 -->


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to "Root", upper_directory_homework_project_path %> |  
<%= link_to "Branch", branch_directory_homework_project_path %>
</div>