<div id="page-wrap" >
<p id="notice"></p>

<div class="row">
  <div class="pull-left">
    <%= link_to @semester.semester_name, directory_semester_path(@semester) %> >
    <%= link_to @class.class_name, directory_class_path(@semester) %> >
    <%= link_to @directory_homework.class_name, directory_homework_projects_path(@directory_homework)  %> >
    <%= link_to @parent.project_name, directory_homework_project_path(@parent.directory_homework_id, @parent) unless @parent.nil?%>
  </div>
</div>

<div class="row" style="display:inline">
  <h3>
    <%= @creator.user_name%> /
    <strong><%= @project.project_name %></strong>
    <% if @project.is_editable(current_user) %>
      <span class="btn-group">
      <%= button_to '수정', edit_directory_homework_project_path(@directory_homework, @project), :class =>"btn btn-default btn-xs", :method => "get" %>
      </span>
      <span class="btn-group">
      <%= button_to '삭제', directory_homework_project_path(@directory_homework, @project), :class =>"btn btn-default btn-xs", :method => :delete, data: { confirm: '삭제하시겠습니까?' } %>
      </span>
    <% end %>
    <div class="btn-toolbar pull-right" >
    <div class="btn-group">
      <%= button_to "상위 프로젝트", upper_directory_homework_project_path, :class => "btn btn-default", :method => "get" %>
    </div>
    <div class="btn-group">
      <%= button_to "하위 프로젝트", branch_directory_homework_project_path, :class => "btn btn-default", :method => "get" %> 
    </div>
    <div class="btn-group">
      <%= render 'likes/like' %> 
    </div>
  </h3>
</div>
<p>
  <strong>Description:</strong>
  <div class="well">
  	<%= @project.description %>
	</div>
</p>

<%= render html: @content.html_safe %>

<div class="row">
  <h3>댓글</h3>
  <div class="col-md-12">
    <table class="table">
        <%= render @project.comments.sort_by{ |c| c.created_at } %>
    </table>
    <%= render "comments/form" %>
    <br/><br/>
  </div>
</div>

 

</div>