  <% if flash[:sign_in] %>
    <div class="alert alert-danger">
      <h3 class="welcome">로그인이 필요합니다.</h3>
    </div>
  <% end %>
<br>

<div class="row" style="background-color: white">
  <div class="col-md-6">
    <%= image_tag 'yt_simbol.png', :size => "300x300" %>
  </div>

  <div class="col-md-6">
    <br><br>
    <div class="row" style="background-color: white">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-6">
        <br><br><br>
        <div class="field">
          <input id="user_login" name="user[login]" type="text" class="form-control" placeholder="학번" />
        </div>
        <p></p>
        <div class="field">
          <input autocomplete="off" id="user_password" name="user[password]" type="password" class="form-control" placeholder="비밀번호" />
        </div>
        <p></p>
<!--         <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
 -->    </div>

    <div class="col-md-6">
      <br><br><br><p></p>
      <input class="btn btn-info btn-lg" name="commit" type="submit" value="로그인" style="font-size: 30px" />
    </div>  
    <% end %>
  </div>
  
    <div>
      <li><%= render "devise/shared/links" %></li>
    </div>
  </div>
</div>
