<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @homework.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @homework.subject %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
