<h1>Semesters</h1>

<table>
  <thead>
    <tr>
      <th>Semester name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directory_semesters.each do |directory_semester| %>
      <tr>
        <td><%= directory_semester.semester_name %></td>
        <td><%= link_to 'Show', directory_semester %></td>
        <td><%= link_to 'Edit', edit_directory_semester_path(directory_semester) %></td>
        <td><%= link_to 'Destroy', directory_semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Directory semester', new_directory_semester_path %>
