

  <h2>Semesters</h2>
  <table class="table table-condensed">
    <% @directory_semesters.each do |semesters| %>
      <tr>
        <td><%= link_to semesters.semester_name, directory_semester_path(semesters) %></td>
        <td>[<%= link_to 'Edit', edit_directory_semester_path(semesters) %>
        / <%= link_to 'Destroy', semesters, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
      </tr>
    <% end %>
  </table>

  <br><br><br>


  
  <div class="well well-sm pull-right">
    <%= form_for :directory_semester do |f| %>
      <p>
        <%= f.label '학기이름' %><br>
        <%= f.text_field :semester_name %>
        <%= f.submit 'NEW', :class=> 'btn btn-info'%>
      </p>
    <% end %>
  </div>

<br>
