<p id="notice"><%= notice %></p>

<p></p><p></p>
<p>
  <strong>Semester name:</strong>
  <%= @directory_semester.semester_name %>
</p>

<p><strong>Classes</strong>
<% @directory_semester.directory_classes.each do |classes| %>
	<p>
		<b>Class name:</b>
		<%= classes.class_name %>
		<td><%= link_to 'Show', directory_class_path(classes) %></td>
		<td><%= link_to 'Edit', edit_directory_class_path(classes) %></td>
		<td><%= link_to 'Destroy', classes, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</p>

<% end %>


<!-- where I want to add class in this category...-->
<h2> Add a class:</h2>

<%= form_for([@directory_semester, @directory_semester.directory_classes.build]) do |f| %>
  <p>
    <%= f.label :class_name %><br>
    <%= f.text_field :class_name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Edit', edit_directory_semester_path(@directory_semester) %> |
<%= link_to 'Back', directory_semesters_path %>
