<body>
  <div id="page-wrap" >
  <br>
  <ol class="breadcrumb pull-right">
    <li class="active">
      <%= @directory_semester.semester_name %>
    </li>
  </ol>

  <h2>Classes</h2>
  <table class="table table-condensed">
    <% @directory_semester.directory_classes.each do |classes| %>
      <tr>
 	      <td><%= link_to classes.class_name, directory_class_path(classes) %></td>
        <!-- <td>[<%= link_to 'Edit', edit_directory_class_path(classes) %>
		    / <%= link_to 'Destroy', classes, method: :delete, data: { confirm: 'Are you sure?' } %>]</td> -->
      </tr>
    <% end %>
  </table>

  <br><%= link_to 'Back', directory_semesters_path %><br><br>

    <%if current_user.role == "admin" %>
      <div class="well well-sm pull-right">
        <%= form_for([@directory_semester, @directory_semester.directory_classes.build]) do |f| %>
          <p>
          <%= f.label '과목 이름' %><br>
          <%= f.text_field :class_name %>
         <%= f.submit 'NEW', :class => 'btn btn-info' %>
        </p>
        <% end %>
      </div>
    <% end%>
  </div>
<body>